html[data-theme="light"],
:root {
    --primary: #840000;
    --secondary: #BA8376;
    --accent: #f5dd5d;
    --primary-fg: #fff6f2;

    --body-fg: #582B39;
    --body-bg: #fff6f2;
    --body-quiet-color: #666;
    --body-loud-color: #000;

    --header-color: #ffc;
    --header-branding-color: var(--primary-fg);
    --header-bg: var(--primary);
    --header-link-color: var(--primary-fg);

    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);

    --link-fg: #BA8376;
    --link-hover-color: #582B39;
    --link-selected-fg: #BA6356;

    --hairline-color: #e8e8e8;
    --border-color: #ccc;

    --error-fg: #ba2121;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;

    --button-fg: #fff;
    --close-button-bg: #747474;
    --close-button-hover-bg: #333;

    --nav-color: #003049;

    --table-hover: #ffffa9;
    --table-header: #669bbc;

    --font-family-primary:
        Anantason, sans-serif
        /* -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        system-ui,
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"; */
        ;
    --font-family-monospace:
        ui-monospace,
        Menlo,
        Monaco,
        "Cascadia Mono",
        "Segoe UI Mono",
        "Roboto Mono",
        "Oxygen Mono",
        "Ubuntu Monospace",
        "Source Code Pro",
        "Fira Mono",
        "Droid Sans Mono",
        "Courier New",
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-family: var(--font-family-primary);
    color: var(--body-fg);
    background: var(--body-bg);
}

/* LINKS */

a:link, a:visited {
    color: var(--link-fg);
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}
a.h1:link, a.h1:visited {
    color: var(--nav-color);
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

a:focus, a:hover {
    color: var(--link-hover-color);
}
a.h1:focus, a.h1:hover {
    color: var(--secondary);
}

a:focus {
    text-decoration: underline;
}

#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: var(--header-bg);
    color: var(--header-color);
    overflow: hidden;
}

#header a:link, #header a:visited, #logout-form button {
    color: var(--header-link-color);
}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

#branding {
    display: flex;
}

#branding h1 {
    padding: 0;
    margin: 0;
    margin-inline-end: 20px;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--header-branding-color);
}

#branding h1 a:link, #branding h1 a:visited {
    color: var(--primary-fg);
}

#branding h2 {
    padding: 0 10px;
    font-size: 0.875rem;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: var(--header-color);
}

#branding a:hover {
    text-decoration: none;
}

#logout-form {
    display: inline;
}

#logout-form button {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: var(--font-family-primary);
}
#permission-button button {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: var(--font-family-primary);
}

#container > .main {
    display: flex;
    flex: 1 0 auto;
}

.main > .content {
    flex:  1 0;
    max-width: 100%;
}

#content {
    padding: 20px 40px;
}

h1 {
    color: var(--body-quiet-color);
}

hr {
    clear: both;
    color: var(--hairline-color);
    background-color: var(--hairline-color);
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1px;
}

ul > li {
    list-style-type: none;
    padding: 0;
}
li.dlist::before {
    filter: invert(54%) sepia(69%) saturate(7490%) hue-rotate(182deg) brightness(100%) contrast(83%);
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background: url('/static/images/folder.png');
    background-size:contain;
}
li.dlist::after {
    filter: invert(54%) sepia(69%) saturate(7490%) hue-rotate(182deg) brightness(100%) contrast(83%);
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background: url('/static/images/downloads.png');
    background-size:contain;
}
li.flist::before {
    filter: invert(54%) sepia(69%) saturate(7490%) hue-rotate(182deg) brightness(100%) contrast(83%);
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background: url('/static/images/document.png');
    background-size:contain;
}
th {
    text-align: left;
} 
table, tr {
    border: 1px solid var(--breadcrumbs-fg);
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    font-family: Anantason, sans-serif;
    font-size: 14px;
    height: 30px;
} 
tr:hover {
    background-color: var(--table-hover);
}
tr.trheader {
    color: var(--table-header);
}
tr.trheader:hover {
    background-color: var(--body-bg);
}
tr td a{
    margin-left: 30px;
    margin-top: -17px;
    padding-left: 10px;
    display:block;
    padding-top: 6;
}
.download{
    /* filter: invert(54%) sepia(69%) saturate(7490%) hue-rotate(182deg) brightness(100%) contrast(83%); */
    width: 16px;
    height: 16px;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}
.copy{
    cursor:pointer;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.icon-folder{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-top: 3px;
    display:block;
}
.util-button{
    background-color: var(--primary-fg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto;
    background-size: 20px 20px;
    border-bottom-color:rgb(0, 0, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-collapse: separate;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    border-left-color:rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color:rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 0.8px;
    border-spacing: 0px 0px;
    border-top-color:rgb(0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 0.8px;
    color: var(--close-button-hover-bg);
    cursor: pointer;
    font-family: Anantason, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    text-align: left;
    padding-top: 3px;
}
.util-button:hover {
    filter: invert(100%);
}
#user:hover{
    filter: none;
}
#newdir-button {
    background-image: url(/static/images/new-folder.png);
    height: 36px;
    background-size: 23px;
    padding-left: 38px;
    width: 140px;
}
#folder-upload-button {
    background-image: url(/static/images/upload-folder.png);
    background-position: 8px;
    background-size: 23px;
    height: 36px;
    padding-left: 36px;
    width: 163px;
}
#file-upload-button {
    background-image: url(/static/images/upload-file.png);
    background-position: 10px;
    background-size: 23px;
    height: 36px;
    padding-left: 40px;
    width: 144px;
}
/* #id_fileupload {
    background-image: url(/static/images/upload-file.png);
    background-position: 10px;
    background-size: 23px;
    height: 36px;
    padding-left: 40px;
    width: 144px;
} */
/* input[type='file'] {
    color: transparent;
} */
::file-selector-button {
    display: none;
}