<!DOCTYPE html>
<html>
<head>
    <title>IPU NAS Server</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/"> IPU NAS Server </a></h1>
        </div>
        <div id="user-tools">
            <form id="logout-form" method="post" action="/logout/">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>
    <div id="main" class="main">
        <div id="content-start" class="content">
            <div id="content">
                <h1 id="page-header">{{ navigator|safe }}</h1>
                <hr>
                <ul>
                    {% if directories %}
                    {% for directory in directories %}
                    <li class="dlist"><a href="{{ directory.path }}">{{ directory.path }} ({{ directory.num }})</a></li>
                    {% endfor %}
                    {% endif %}
                    {% if files %}
                    {% for file in files %}
                    <li class="flist"><a href="{{ file.path }}">{{ file.path }} ({{ file.size }})</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <hr>
            </div>
        </div>

    </div>
</div>
</body>
</html>